<template name="dashboard">
    <div class="dashboard content">
        <top-bar />
        <div class="sidemenu" v-if="windowWidth < 1000">
            <a href="javascript: void(0);" v-if="!showSideBar" v-on:click="showSideBar = true">Show Leaderboard</a>
            <a href="javascript: void(0);" v-if="showSideBar" v-on:click="showSideBar = false">Hide Leaderboard</a>
        </div>
        <div class="sidebar" v-if="windowWidth > 1000 || showSideBar">
            <h4 v-if="todayLeaders.length > 0">Today Top 10</h4>
            <ol v-if="todayLeaders.length > 0">
                <li v-for="leader in todayLeaders" v-bind:class="{ me: leader._id == user._id }">
                    <img class="avatar" v-bind:src="leader.avatarUrl" /> <span class="name" v-bind:title="leader.name">{{leader.name}}</span> <span class="xp">{{leader.xp}}XP</span>
                </li>
            </ol>
            <h4><template v-if="todayLeaders.length > 0">All time </template>Top 10</h4>
            <ol>
                <li v-for="leader in allTimeLeaders" v-bind:class="{ me: leader._id == user._id }">
                    <img class="avatar" v-bind:src="leader.avatarUrl" />  <span class="name" v-bind:title="leader.name">{{leader.name}}</span> <span class="xp">{{leader.xp}}XP</span>
                </li>
            </ol>
        </div>
        <div v-if="!course">
            Course not selected.
            <router-link to="/courses">Select a course to study</router-link>
        </div>
        <course-tree v-else v-bind:course="course" mode="study"></course-tree>
    </div>
</template>