<template name="courses">
    <div class="content">
        <div v-if="$route.params.id" class="course-tree">
            <div class="top-bar">
                <router-link to="/courses">Back to courses</router-link>
            </div>

            <div v-if="course == null" class="error">Course not found</div>
            <course-tree v-else v-bind:course="course" mode="edit"></course-tree>
        </div>
        <div v-else class="courses">
            <div class="top-bar">
                <router-link to="/">Back to home</router-link>
            </div>
            <h2>Select course</h2>
            <list-editor 
                v-bind:items="courses" 
                v-bind:can-edit="canEdit"
                v-bind:can-remove="canEdit"
                new-item-text="Create a new course"
                v-on:add="CoursesApi.addCourse('New course')"
                v-on:select="selectCourse"
                v-on:edit="editCourse"
                v-on:remove="CoursesApi.removeCourse">
            </list-editor>
        </div>
    </div>
</template>