<template name="courses">
    <div class="content">
        <div v-if="$route.params.id" class="course-tree">
            <top-bar back-link="/courses" back-link-text="Back to courses" />

            <div v-if="course == null" class="error">Course not found</div>
            <course-tree v-else v-bind:course="course" mode="edit"></course-tree>
        </div>
        <div v-else class="courses">
            <top-bar back-link="/" back-link-text="Back to home" />
            <h2>Select course to study</h2>
            <list-editor 
                v-bind:items="courses" 
                v-bind:can-edit="canEdit"
                v-bind:can-remove="canEdit"
                new-item-text="Create a new course"
                v-on:add="CoursesApi.addCourse('New course')"
                v-on:edit="editCourse"
                v-on:remove="CoursesApi.removeCourse">
                <template scope="props">
                    <a href="javascript:void(0);" v-on:click="selectCourse(props.item)">{{props.item.name}}</a>
                    ({{sentencesCount[props.item._id]}} sentences)
                    by <img class="avatar" v-for="id in props.item.admin_ids" v-bind:src="avatarUrls[id]" />
                </template>
            </list-editor>
        </div>
    </div>
</template>