<template name="lesson-editor">
    <div class="content wide">
        <div class="lesson-editor">
            <top-bar v-bind:back-link="'/courses/' + $route.params.id" back-link-text="Back to course tree" />
            <div class="words-column">
                <h4>Words</h4>
                <list-editor 
                    v-bind:items="words.filter(w => w.lessonId == this.$route.params.lessonid)"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new word"
                    v-bind:item-class="getWordClass"
                    v-on:add="WordsApi.addWord('New word',$route.params.lessonid)"
                    v-on:select="selectWord"
                    v-on:edit="WordsApi.updateWord"
                    v-on:remove="WordsApi.removeWord">
                </list-editor>
            </div>
            <div class="editor-column" v-if="selectedWord" v-bind:class="{ hidden: !!selectedSentence }">
                <div class="top-bar">Word: {{selectedWord.text}}</div>
                <h4>Translations</h4>
                <list-editor 
                    v-bind:items="selectedWord.translations"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new translation"
                    v-on:add="selectedWord.translations.push({ text: 'New translation' }); WordsApi.updateWord(selectedWord)"
                    v-on:edit="WordsApi.updateWord(selectedWord)"
                    v-on:remove="removeTranslation">
                </list-editor>
                <h4>Inflection</h4>
                <list-editor 
                    v-bind:items="selectedWord.inflections"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new form of word"
                    v-on:add="selectedWord.inflections.push({ text: 'New word form', remarks: '' }); WordsApi.updateWord(selectedWord)"
                    v-on:edit="WordsApi.updateWord(selectedWord)"
                    v-on:remove="removeTranslation">
                </list-editor>
                <h4>Remarks</h4>
                <textarea v-model="selectedWord.remarks" v-on:blur="WordsApi.updateWord(selectedWord)"></textarea>
            </div>
            <div class="sentences-column">
                <h4>Sentences</h4>
                <list-editor 
                    v-bind:items="sentences"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new sentence"
                    v-bind:item-class="getSentenceClass"
                    v-on:add="SentencesApi.addSentence('New sentence',$route.params.lessonid)"
                    v-on:select="selectSentence"
                    v-on:edit="SentencesApi.updateSentence"
                    v-on:remove="SentencesApi.removeSentence">
                </list-editor>
            </div>
            <div class="editor-column" v-if="selectedSentence">
                <div class="top-bar">Sentence: {{selectedSentence.text}}</div>
                <h4>Translations</h4>
                <list-editor 
                    v-bind:items="selectedSentence.translations"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new translation"
                    v-on:add="selectedSentence.translations.push({ text: 'New translation' }); SentencesApi.updateSentence(selectedSentence)"
                    v-on:edit="SentencesApi.updateSentence(selectedSentence)"
                    v-on:remove="removeTranslation">
                </list-editor>
                <div class="back-translations" v-if="selectedSentence.translations.length > 0">
                    <h4>English -> Finnish: {{selectedSentence.translations[0].text}}</h4>
                    <div class="row">
                        {{selectedSentence.text}}
                    </div>
                    <list-editor 
                        v-bind:items="selectedSentence.backtranslations"
                        can-edit="text"
                        can-remove="true"
                        new-item-text="Add new reverse translation"
                        v-on:add="selectedSentence.backTranslations.push({ text: 'New reverse translation' }); SentencesApi.updateSentence(selectedSentence)"
                        v-on:edit="SentencesApi.updateSentence(selectedSentence)"
                        v-on:remove="removeTranslation">
                    </list-editor>
                </div>
            </div>
        </div>
    </div>
</template>