<template name="lesson-editor">
    <div class="content wide">
        <div class="lesson-editor">
            <top-bar v-bind:back-link="'/courses/' + $route.params.id" back-link-text="Back to course tree" />
            <div class="words-column">
                <h4>Words</h4>
                <list-editor 
                    v-bind:items="words.filter(w => w.lessonId == this.$route.params.lessonid)"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new word"
                    v-bind:item-class="getWordClass"
                    v-on:add="WordsApi.addWord('New word',$route.params.lessonid)"
                    v-on:select="selectWord"
                    v-on:edit="WordsApi.updateWord"
                    v-on:remove="WordsApi.removeWord">
                </list-editor>
            </div>
            <div class="editor-column" v-if="selectedWord" v-bind:class="{ hidden: !!selectedSentence }">
                <div class="top-bar">Word: {{selectedWord.text}}</div>
                <h4>Translations</h4>
                <list-editor 
                    v-bind:items="selectedWord.translations"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new translation"
                    v-on:add="selectedWord.translations.push({ text: 'New translation' }); WordsApi.updateWord(selectedWord)"
                    v-on:edit="WordsApi.updateWord(selectedWord)"
                    v-on:remove="removeTranslation">
                </list-editor>
                <h4>Inflection</h4>
                <list-editor 
                    v-bind:items="selectedWord.inflections"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new form of word"
                    v-on:add="selectedWord.inflections.push({ text: '', remarks: '' }); WordsApi.updateWord(selectedWord)"
                    v-on:edit="WordsApi.updateWord(selectedWord)"
                    v-on:remove="removeTranslation">
                      <template scope="props">
                          <input type="text" v-model="props.item.text" class="text" placeholder="Word form" v-on:blur="WordsApi.updateWord(selectedWord)" />
                          <input type="text" v-model="props.item.remarks" class="remarks" placeholder="Translation" v-on:blur="WordsApi.updateWord(selectedWord)" />
                      </template>
                </list-editor>
                <h4>Picture</h4>
                <select v-model="selectedWord.picture" v-on:click="WordsApi.updateWord(selectedWord)">
                    <option v-bind:value="null">(none)</option>
                    <option v-for="option in ['man','boy','woman','girl','apple','dress','beer','fish','meat','sauce','potato','rice','chicken','tea','coffee']" v-bind:value="'/' + option + '.svg'">
                        {{ option }}
                    </option>
                </select>
                <img class="word-picture" v-if="selectedWord.picture" v-bind:src="selectedWord.picture" />
                <h4>Remarks</h4>
                <textarea v-model="selectedWord.remarks" v-on:blur="WordsApi.updateWord(selectedWord)"></textarea>
            </div>
            <div class="sentences-column">
                <h4>Sentences</h4>
                <p class="description">
                    Sentences will appear in the lesson in exactly same order as defined below.
                    Green color indicates that the word (or word form) is defined in words section (even if this word was defined in another lesson), and for these words students will get hints with translation.
                    Hints are shown only if system considers that student doesn't know the word well at the moment.
                </p>
                <list-editor 
                    v-bind:items="sentences.filter(w => w.lessonId == this.$route.params.lessonid)"
                    can-remove="true"
                    new-item-text="Add new sentence"
                    v-bind:item-class="getSentenceClass"
                    v-on:add="SentencesApi.addSentence('New sentence',$route.params.lessonid)"
                    v-on:remove="SentencesApi.removeSentence">

                    <template scope="props">
                        <a href="javascript:void(0);" v-on:click="selectSentence(props.item)">
                            <input ref="editSentenceInput" type="text"
                                   v-if="editSentence == props.item"
                                   v-on:blur="SentencesApi.updateSentence(props.item); editSentence = null"
                                   v-on:keyup.enter="SentencesApi.updateSentence(props.item); editSentence = null"
                                   v-model="props.item.text" />
                            <template v-else v-for="token in Utilities.getSentenceTokens(props.item.text)">
                                <span v-if="props.item.wordHints[token.toLowerCase()]" class="word-with-hint">{{token}}</span>
                                <template v-else>{{token}}</template>
                            </template>
                        </a>
                    </template>
                    <template slot="buttons" scope="props">
                        <a href="javascript:void(0);" v-on:click="startSentenceEditing(props.item)"><i class="fa fa-pencil"></i></a>
                        <a href="javascript:void(0);" v-on:click="changeSentenceOrder(props.item,-1)"><i class="fa fa-chevron-up"></i></a>
                        <a href="javascript:void(0);" v-on:click="changeSentenceOrder(props.item,1)"><i class="fa fa-chevron-down"></i></a>
                    </template>
                </list-editor>
            </div>
            <div class="editor-column" v-if="selectedSentence">
                <div class="top-bar">Sentence: {{selectedSentence.text}}</div>
                <h4>Test type</h4>
                <input id="test-type-default" type="radio" 
                    v-model="selectedSentence.testType" 
                    v-bind:value="SentenceTestType.Default"
                    v-on:click="SentencesApi.updateSentence(selectedSentence)" />
                <label for="test-type-default">Write translation</label>
                <br/>
                <input id="test-type-constructsentence" type="radio" 
                    v-model="selectedSentence.testType" 
                    v-bind:value="SentenceTestType.ConstructSentence"
                    v-on:click="SentencesApi.updateSentence(selectedSentence)" />
                <label for="test-type-constructsentence">Construct sentence</label>
                <br/>
                <input id="test-type-wordpictures" type="radio" 
                    v-model="selectedSentence.testType"
                    v-bind:value="SentenceTestType.WordPictures"
                    v-on:click="SentencesApi.updateSentence(selectedSentence)" />
                <label for="test-type-wordpictures">Word pictures</label>
                <br/>
                <input id="test-type-selectmissingword" type="radio" 
                    v-model="selectedSentence.testType"
                    v-bind:value="SentenceTestType.SelectMissingWord"
                    v-on:click="SentencesApi.updateSentence(selectedSentence)" />
                <label for="test-type-selectmissingword">Select missing word</label>
                <p class="description">
                    <template v-if="selectedSentence.testType == SentenceTestType.Default || selectedSentence.testType == SentenceTestType.ConstructSentence">
                        <span v-if="selectedSentence.testType == SentenceTestType.Default">
                            Student will have to type the correct translation of the sentence.
                            Sentence can be English or Finnish.
                            <br/>
                            Note: if you want words of the sentence to have hints on click, please create these words in the first column and provide translations for them!
                            Hints will only be shown if system thinks that user doesn't know the word well.
                        </span>
                        <span v-else>
                            Student will have to construct sentence by selecting words from the provided list of words.
                            <br/>
                            This test is usually used as an easier version of "Write translation" test.
                        </span>
                        <br/>
                        You can add several translations, all of them will be accepted.
                        The following cases are processed automatically by Finnlingo:
                        <ul>
                            <li>I am = I'm, we're = we are, you're = you are, they're = they are, it is = it's</li>
                            <li>do not = don't, does not = doesn't, did not = didn't</li>
                            <li>Articles a/an/the are ignored</li>
                        </ul>
                    </template>
                    <template v-else-if="selectedSentence.testType == SentenceTestType.WordPictures">
                        For Word pictures type of test, please use the English word as the sentence and put the Finnish word into translation.
                        Only one translation is used in this type of test.
                    </template>
                    <template v-else-if="selectedSentence.testType == SentenceTestType.SelectMissingWord">
                        In the sentence, define the placeholder for missing word as underscores, e.g. "____".
                        First translation in the list should be the missing word, others will be the other possible choices.
                        Of course, options will be shuffled when presented in the test.
                    </template>
                </p>
                <h4>Translations</h4>
                <list-editor 
                    v-bind:items="selectedSentence.translations"
                    can-edit="text"
                    can-remove="true"
                    new-item-text="Add new translation"
                    v-on:add="selectedSentence.translations.push({ text: 'New translation' }); SentencesApi.updateSentence(selectedSentence)"
                    v-on:edit="SentencesApi.updateSentence(selectedSentence)"
                    v-on:remove="removeTranslation">
                </list-editor>
            </div>
        </div>
    </div>
</template>