.lesson-editor {
    height: 100vh;
    background-color: #D9D8D7;
    position: relative;
}
.lesson-editor > .top-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
}
.lesson-editor .top-bar .back-link {
    position: absolute;
}
.lesson-editor .top-bar {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}
.lesson-editor .top-bar .title {
    margin-left: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100vw - 184px);
    display: inline-block;
    overflow: hidden;
    word-break: break-all;
    vertical-align: top;
}
.lesson-editor .words-column,
.lesson-editor .sentences-column,
.lesson-editor .editor-column {
    background-color: #fff;
    float: left;
    height: calc(100% - 100px);
    overflow: auto;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 75px;
}

.lesson-editor .words-column {
    width: 20%;
}
.lesson-editor .sentences-column {
    width: 36%;
}
.lesson-editor .editor-column {
    position: relative;
    width: 36%;
    transition: width 0.2s ease-out, margin-left 0.2s ease-in, margin-right 0.2s ease-in;
}
.lesson-editor .editor-column.hidden {
    width: 0;
    margin-left: 0;
    margin-right: 0;
}
.lesson-editor h4 {
    margin-left: 10px;
}
.lesson-editor p {
    margin-left: 10px;
}
.lesson-editor .editor-column img,
.lesson-editor .editor-column input,
.lesson-editor .editor-column select {
    margin-left: 10px;
}
.lesson-editor .editor-column textarea {
    margin-left: 10px;
    width: 90%;
}
.lesson-editor .editor-column .back-translations strong {
    margin-left: 10px;
}

.lesson-editor .editor-column .word-picture {
    height: 80px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.lesson-editor .words-column input {
    max-width: 60%;
}

.lesson-editor input.text {
    width: 20%;
}
.lesson-editor input.remarks {
    width: 50%;
}

.lesson-editor .word-with-hint {
    color: #00A090;
}

@media (max-width: 1000px) {
    .lesson-editor .top-bar .menu {
        margin: 0 auto;
        display: block;
        width: 200px;
        padding-left: 40px;
    }
    .lesson-editor .top-bar .menu a {
        padding: 3px 9px;
        padding-left: 12px;
        border-radius: 10px;
        background-color: #E8E7E6;
        color: #777;
        text-decoration: none;
    }
    .lesson-editor .top-bar .menu .selected {
        font-weight: bold;
        text-decoration: underline;
    }

    .lesson-editor .words-column,
    .lesson-editor .sentences-column,
    .lesson-editor .editor-column {
        margin-top: 95px;
    }
    .lesson-editor .words-column {
        width: 40%;
    }
    .lesson-editor .sentences-column {
        width: 40%;
    }
    .lesson-editor .editor-column {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .lesson-editor .words-column,
    .lesson-editor .sentences-column,
    .lesson-editor .editor-column {
        width: calc(100% - 48px);
    }
    
}

.lesson-editor .status-button {
    border: 1px solid #B4B3B2;
    color: #00A090;
    border-radius: 100%;
    background-color: #D9D8D7;
    width: 26px;
    height: 26px;
    text-align: center;
    position: absolute;
    right: 25px;
    top: 12px;
}
.lesson-editor .status {
    position: absolute;
    right: 3px;
    top: 43px;
    padding: 10px;
    max-width: 400px;
    background: #E8E7E6;
    border-radius: 10px;
    border: 1px solid #D9D8D7;
}
.lesson-editor .status .warning {
    color: #D96454;
}
.lesson-editor .status-button.warning {
    color: #D96454;
    background-color: #E8C640;
    border: 1px solid #cba;
}

.lesson-editor .avatar {
    width: 18px;
    vertical-align: top;
}