<head>
    <meta charset="utf-8" />     
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Arimo|Bungee|Dosis" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <title>Finnlingo</title>
</head>

<body>

    <div id="app">
        <router-view></router-view>
    </div>

</body>

<template name="login">
    <div class="content">
        <a href="javascript:void(0);" v-on:click="Meteor.loginWithFacebook()">Sign up or log in with Facebook</a>
    </div>
</template>