
body {
	padding: 0;
	margin: 0;
	border: 0;
    font-size: 20px;
	font-family: 'Dosis', 'Raleway', sans-serif;
}

input, select, textarea {
	font-family: 'Dosis', 'Raleway', sans-serif;
	font-size: 20px;
}

.dimmer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}
.dimmer.transparent {
	background-color: rgba(0,0,0,0);
}

div.clearfix {
	padding: 0;
	margin: 0;
	height: 0;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
	padding: 0;
	margin: 0;
	height: 0;
}

.popup
{
    position: fixed;
    top: 50%;
    left: 50%;
	max-width: 400px;
	min-width: 150px;
	min-height: 80px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background: rgba(250,250,250,0.8);
    padding: 10px 15px;
    border-radius: 12px;
}
.popup div
{
    
	font-size: 28px;
    padding: 8px;
}

.row {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 19px;
    border-top: 1px solid #D7D9D8;
}
.row:last-child {
    border-bottom: 1px solid #D7D9D8;
}
.row.selected {
	box-shadow: inset 0 0 25px #E8E8E7;
}
.row.warning {
	border-left: 4px solid #D88700;
}

.list-editor a > i.fa {
	color: #D7D9D8;
}
.list-editor a > i.fa:hover {
	color: #B7B9B8;
}

.content {
	margin: 0 auto;
	max-width: 600px;
	padding-left: 15px;
	padding-right: 15px;
}

.content.wide {
    max-width: 1200px;
}

@media (max-width: 800px) {
	.content {
		padding: 0;
	}
}


.top-bar {
    background-color: #E8E8E7;
    padding: 12px;
    border-bottom: 1px solid #D7D9D8;
	margin-bottom: 7px;
	height: 21px;
	margin-left: -15px;
	margin-right: -15px;
}
@media (max-width: 800px) {
	.top-bar {
		margin-left: 0;
		margin-right: 0;
	}
	.course-tree > h2,
	.courses > h2,
	.courses > .description {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.top-bar .xp {
	float: right;
	font-weight: bold;
}

.small-gray-link {
	color: #D7D9D8;
	text-decoration: none;
	font-size: 15px;
	display: inline-block;
	margin-left: 10px;
}

.avatar {
	border-radius: 100%;
}
.row .avatar {
	height: 30px;
	vertical-align: top;
}

.dashboard.content {
	position: relative;
}
.dashboard .course-tree {
	margin-right: 240px;
}
@media (max-width: 1000px) {
	.dashboard .course-tree {
		margin-right: 0;
	}
}

.sidemenu {
	text-align: right;
	padding-right: 20px;
}
.sidemenu a {
	color: #B7B9B8;
}
.sidebar {
	width: 220px;
	position: absolute;
	right: 0;
}
.sidebar .name {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}
.sidebar .xp {
	float: right;
}
@media (max-width: 1000px) {
	.sidebar {
		position: static;
		right: auto;
		max-width: auto;
	}
}
.sidebar h4 {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #D7D9D8;
}
.sidebar ol {
	padding-bottom: 5px;
	padding-top: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 20px;
	margin-top: 5px;
	border-bottom: 3px solid #D7D9D8;
	font-size: 17px;
	padding-left: 20px;
}
.sidebar ol .avatar {
	height: 24px;
	vertical-align: top;
}
.sidebar ol li {
	margin-top: 7px;
	margin-bottom: 7px;
}

.description {
    font-size: 14px;
    color: #444;
}
