.study .sentence .word-with-hint {
    text-decoration-style: dashed;
    color: #444;
}
.study .sentence .word-with-hint.new {
    color: #D88700;
    font-weight: bold;
}

.study .sentence .hint {
    position: absolute;
    background: rgba(0,0,0,0.8);
    padding: 5px 15px;
    margin-top: 28px;
    border-radius: 5px;
    font-size: 18px;
    color: #D8D7D6;
}
.study .sentence .hint .remark,
.study .sentence .hint .translation {
    display: block;
}

.study .check-button {
    background-color: #87D788;
    font-size: 20px;
    text-align: center;
    width: 90%;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.study .answer {
    padding-top: 10px;
    padding-bottom: 10px;
}
.study .answer input {
    width: 90%;
}

.study .result-popup {
    position: absolute;
    margin-bottom: -80px;
    background: #D8D7D6;
    padding: 10px 15px;
    border-radius: 12px;
}

.study .word-picture {
    width: 30%;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 10%;
}

.study .attribution-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #444;
    padding: 7px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #E8E7E6;
}

.study .attribution-bar a {
    color: #333;
}